
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  border: 1px solid rgb(201, 201, 201);
  box-shadow: rgb(228 228 228) 0px 10px 30px 5px;
  width: 60vw;
  background-color: white;
  margin: 3vh auto;
  border-radius: 10px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  font-size: smaller;
  width: 100vw;
  padding-bottom: 0.5em;
}
.page-footer .row {
  display: flex;
  justify-content: center;
}
.page-footer .row a {
  margin: 0 0.25em;
}

.header, .footer {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.select-type-button, .restart-button {
  width: 20%;
  padding: 1em;
  font-weight: bold;
}
.select-type-button:not(:last-of-type) {
  margin-right: 2vw;
}

.select-type-button.player-choice {
  border: 2px solid black;
  box-shadow: rgb(126 118 118) 0px 3px 12px;
}

.game-table {
  background-color: lightgray;
  padding: 3vh 0;
}

.game-board {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 3px solid #2c3e50;
  border-radius: 5px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-board .tile {
  border: 3px solid #2c3e50;
  border-radius: 2px;

  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.tile .image {
  width: 70px;
}

.winner-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(100, 100, 100, 0.2);
}

.winner-wrapper:not(.display) {
  display: none;
}
.winner-wrapper.display {
  display: block;
}

.winner-modal {
  width: 80vw;
  height: 80vh;
  background-color: white;
  border: 2px solid silver;
  position: relative;
  top: 10vh;
  left: 10vw;
}

.winner-title {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 5vw;
}

.winner-text {
  display: flex;
  justify-content: center;
  padding: 0.3em;
  font-size: 30vw;
}
